<%- include("partials/header"); %>

<h1>Why Journal Writting is important?</h1>
<h3><%= aboutContent %></h3>
<br>
<iframe src="https://giphy.com/embed/YHpmahJgMjxL6S29Au" width="480" height="379"  frameBorder="0" class="gif giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/writing-writewritewrite-focused-YHpmahJgMjxL6S29Au"></a></p>

<%- include("partials/footer"); %>
