<%- include("partials/header"); %>

<h1>Contact</h1>
<h3>You can reach out to us to know more about the benifits of writing. Feel free to join our commmunity. Click on the button below to subscribe to our free newsletter.</h3>
<img src="https://webstockreview.net/images/newsletter-clipart-newletter-16.png" alt="newsletter-image" class="newsletter-image">
<br>
<button type="button" class="btn btn-light subscribe" name="button"><a href="https://radiant-brook-05602.herokuapp.com/" target="_blank">Subscribe 🚀</a></button>


<%- include("partials/footer"); %>
